{%extends './base.html' %} {%load static%} {% block body_block %} 

<style>
// Toas message
.toast-message{
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  width: 400px;
  font-size: 16px;
  transition: all .5s;
  z-index: 9999;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
  @media (max-width: 424px) {
    width: calc(100% - 20px);
  }
  &.success{
    background: #64DD17;
  }
  &.danger{
    background: #F44336;
  }
  .message{
    color: #fff;
    padding: 20px 30px;
    text-align:center;
  }
  .close{
    position: absolute;
    top:25%;
    right: 15px;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    opacity: 0.2;
    cursor: pointer;
    &::after{
      content: "×";
    }
    &:hover{
      opacity: 0.6;
    }
  }
}

</style>

<section>
  <div class="jumbotron jumbotron-fluid">
  
  

    <div class="container">
      {% if messages %}
      {% for message in messages%}
      <p {% if message.tag %} class="alert alert-{{message.tags}} mb-5" {%endif%} role="alert">{{message}} </p>
      {%endfor%}
      {%endif%}
    <script>
              setMachineValue('{{dict_machine|escapejs}}')
              setSchlepperValue('{{dict_schlepper|escapejs}}')
              setMachineUnit('{{machineUnits|escapejs}}')
              setSchlepperUnit('{{schlepperUnits|escapejs}}')
              setMachineToDisableFields('{{displayMachineFiels|escapejs}}')
              
    </script>
     

      <div class="alert alert-danger errorSubmitMsg" role="alert" id="errorSubmitMsg"  style="margin-top:1%;display:none;overflow: auto;">
        <p> <i class="fa fa-warning fa_custom" style="color:red;"></i> Speichern nicht möglich, daten fehlen siehe bitte oben!!
        </p>
      </div>
    
      <form action="" method="post" novalidates novalidate onsubmit="return fnValidate()" id="my_form"> 
        {% csrf_token %} 
          {% for fm in form %} 
            <div class="form-group class_{{fm.id_for_label}}">
             
               {{fm.label_tag}} 
                {% if fm.id_for_label == 'id_User' %}
                    <input class="form-control" type="text" placeholder="{{request.user}}" aria-label="Disabled input example" disabled>
                {%else%}
                         {{fm}} 
                        {%if fm.id_for_label == 'id_SchlepperLastRecord' %}
                              <span class="badge badge-secondary" id="unitid_SchlepperLastRecord">None</span>
                        {%elif fm.id_for_label == 'id_MaschineLastRecord' %}
                              <span class="badge badge-secondary" id="unitid_MaschineLastRecord">None</span>
                        {%else%}
                        {%endif%}
                            <span id="error{{fm.id_for_label}}"></span>
                            <span class="badge text-bg-info" id="valid{{fm.id_for_label}}" style="display:none">Bitte ausfüllen</span>
                            <small class="text-warning">
                                {% if fm.errors %}
                                   <div class="alert alert-danger">
                                    {{ fm.errors|striptags }}
                                    </div>
                                {% endif %}
                          </small>
                {%endif%}
              </div>
          {% endfor %}

                <div>
                  <br>
                    <input type="submit" values="Speichern And Senden" class="btn btn-primary" onclick="return fnValidate()" id="displayFormSubmit"> 
                </div>
                <br>
                
              <div class="alert alert-danger alertDiv" role="alert" id="alertDiv"  style="margin-top:1%;display:none;overflow: auto;">
                <p> <i class="fa fa-warning fa_custom" style="color:red;"></i> Maschine & Schlepper Both cannot be none!! </p>
              </div>

            
                
              {%if form.non_field_errors%} 
              {%for error in form.non_field_errors%} 
                <p class="alert alert-danger my-3">{{error}}</p> 
          {%endfor%} {%endif%}
     </form>
    </div>
  </div>
</section> {%endblock%}